<a href="https://colab.research.google.com/github/Riz08/My-python-practice-repo/blob/main/pandas%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

df=pd.read_csv("appl.csv")
df.head() #provides the first 5 rows

        Date    Open    High     Low   Close    Volume
0  07-Jul-17  142.90  144.75  142.90  144.18  19201712
1  06-Jul-17  143.02  143.50  142.41  142.73  24128782
2  05-Jul-17  143.69  144.79  142.72  144.09  21569557
3  03-Jul-17  144.88  145.30  143.10  143.50  14277848
4  30-Jun-17  144.45  144.96  143.78  144.02  23024107

In [6]:
df.dtypes #next we need to change date from object format to date format

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [7]:
df=pd.read_csv("appl.csv",parse_dates=["Date"],index_col="Date") #set date coloumn as index
df.head(3)

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557

In [11]:
#select specific date data.We are able to do that as the date has been set as index and changed from object to date frame

df["2017-06"].head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  This is separate from the ipykernel package so we can avoid doing imports until

              Open    High     Low   Close    Volume
Date
2017-06-30  144.45  144.96  143.78  144.02  23024107
2017-06-29  144.71  145.13  142.28  143.68  31499368
2017-06-28  144.49  146.11  143.16  145.83  22082432

In [12]:
#average price of appl stock in June

df["2017-06"].Close.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  This is separate from the ipykernel package so we can avoid doing imports until

147.8313636363636

In [15]:
#select a date range for average
#while giving range the start date is not be considered but the last date will be

df["2017-01-03":"2017-01-09"]

              Open    High     Low   Close    Volume
Date
2017-01-09  117.95  119.43  117.94  118.99  33561948
2017-01-06  116.78  118.16  116.47  117.91  31751900
2017-01-05  115.92  116.86  115.81  116.61  22193587
2017-01-04  115.85  116.51  115.75  116.02  21118116