<a href="https://colab.research.google.com/github/Riz08/My-python-practice-repo/blob/main/Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
#Read the csv file
df = pd.read_csv('nyc-weather.csv')
df.head()

In [ ]:
df.tail()

In [ ]:
#What was the max temp for Jan 2021 @NY city
df['Temperature'].max()

50

In [ ]:
#Which all dates it rained @NY for Jan 2021
df['EST'][df['Events'] == 'Rain']

8     01-09-2021
9     01-10-2021
15     1/16/2021
26     1/27/2021
Name: EST, dtype: object

In [ ]:
#Avg windspeed @NY for Jan 2021
df.fillna(0, inplace=True)
df['WindSpeedMPH'].mean()

In [ ]:
#using relational operator with df
df[df.Temperature >= 32]

In [ ]:
df[df.Temperature == df.Temperature.max()]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,01-10-2021,50,46,71,29.59,4,0.0,1.8,7,Rain,109

In [ ]:
#setting the date column as index
df.set_index('EST')

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
01-01-2021,38,23,52,30.03,10,8.0,0,5,NaN,281
01-02-2021,36,18,46,30.02,10,7.0,0,3,NaN,275
01-03-2021,40,21,47,29.86,10,8.0,0,1,NaN,277
01-04-2021,25,9,44,30.05,10,9.0,0,3,NaN,345
01-05-2021,20,-3,41,30.57,10,5.0,0,0,NaN,333
01-06-2021,33,4,35,30.50,10,4.0,0,0,NaN,259
01-07-2021,39,11,33,30.28,10,2.0,0,3,NaN,293
01-08-2021,39,29,64,30.20,10,4.0,0,8,NaN,79
01-09-2021,44,38,77,30.16,9,8.0,T,8,Rain,76
01-10-2021,50,46,71,29.59,4,NaN,1.8,7,Rain,109
01-11-2021,33,8,37,29.92,10,NaN,0,1,NaN,289
01-12-2021,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/2021,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/2021,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/2021,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/2021,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2021,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2021,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2021,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/2021,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/2021,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/2021,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/2021,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2021,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2021,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/2021,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/2021,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2021,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/2021,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/2021,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/2021,46,28,52,29.90,10,5.0,0,0,NaN,241

In [ ]:
df.set_index('Events', inplace=True)

In [ ]:
df.loc[['Snow','Rain',]]

In [ ]:
df.loc[lambda df: df['Temperature'] > 40]

In [ ]:
#Create a data frame from excel
import pandas as pd
df = pd.read_excel('mnts.xlsx')
df

In [ ]:
#create a data frame from dictionary
weather_data={
    'Day':['1/1/2022','1/2/2022','1/3/2022'],
    'Temperature':[32, 35, 2],
    'WindspeedMPH':[6, 7, 2],
    'Event':['Rain', 'Sunny','Snow']
}
df = pd.DataFrame(weather_data)
df

In [ ]:
#creating a data frame from list of tuples
weather_data=[
 ('1/1/2022',32,6,'Rain'),
 ('1/2/2022',35,7, 'Sunny'),
 ('1/3/2022',2,2, 'Snow' )
]
df = pd.DataFrame(weather_data,columns=['Day','Temperature','WindspeedMPH','Events'])
df

In [ ]:
#creating a data frame from a list of dictionaries
[
 {
    'Day':['1/1/2022','1/2/2022','1/3/2022'],
    'Temperature':[32, 35, 2],
    'WindspeedMPH':[6, 7, 2],
    'Event':['Rain', 'Sunny','Snow'] 
 }
]